
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .MenuPage {
        color: red !important;
    }

    h5 {
        text-decoration: none !important;
        margin: 0 auto;
    }
    #wrapDialog {
        margin-left: 30%!important;
    }
    #ForSearch {
        margin-left: 78.5%;
    }
    #order {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 13px;
        font-family: font-effect-vintage;
      
    }
    
  
    #orderCall {
        color: black;
        margin: 0 !important;
        padding-top: 7px;
        padding-left: -1px;
        width: 5px;
    height: 207px;
        position: fixed;
        top: 36%;
        right: 0.1px;
       
        font-size: 17px;
        word-wrap: break-word;
    float: right;
    background-color: rgb(142, 176, 55);
        border-radius: 10px 0 0  10px;
}
</style>


<div class="container">



    <div class="divPanel page-content">


        <!--Edit Main Content Area here-->
        <div class="row-fluid">

            <div class="span12">



                <div id="gridArea">
                    <p id="ForSearch" style="width: 100%">
                        <label for="SearchProducts" style="display: inline">Найти: </label><input type="text" id="SearchProducts" style="width: 110px"/>
                    </p>

                    <ul id="tiles">

                        @foreach (var image in @Model)
                        {

                            <li style="height: 400px !important">
                                <h5><strong>@image.Name</strong></h5>
                                <img src=@Url.Content(@image.Absolutepath) alt="Christmas" title="Christmas"/>


                                <h6 style="height: 80px !important; overflow: hidden !important">@Url.Content(image.Description)</h6>
                                <h4> <strong>@image.Price руб</strong></h4>
                                <p>
                                    <div id=@image.Id.ToString()>
                                        @Ajax.ActionLink("Добавить в корзину", "AddToCart", new {id = @image.Id, Controller = "Cart"}, new AjaxOptions {UpdateTargetId = @image.Id.ToString()}, new {role = "button", @class = "btn btn-primary btn-xs"})
                                    </div>

                                </p>



                            </li>

                        }


                    </ul>
                    <div id="scrolList"></div>
                </div>

            </div>
        </div>
        <a href="#" id="orderCall" data-toggle="modal" data-target="#myModal">
            <p id="order">Заказать
                -Звонок</p></a>

        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                       
                    </div>
                    <div class="modal-body">
                        <div id="wrapDialog">
                            @using (Ajax.BeginForm("MakeOrder", new { Controller = "Order" }, new AjaxOptions
                            {
                                UpdateTargetId = "orr"
                            }))
                            {

                                <h5>Ваше имя</h5>
                                @Html.TextBox("Name")
                                <h5>Контактный телефон</h5>
                                @Html.TextBox("PhoneNumber")
                                <h5>Сообщение</h5>
                                @Html.TextArea("Message")



                                
                                <br />
                                <input type="submit" class="btn btn-default pull-left" value="Оформить заказ" />

                            }
                        </div>
                     
                    </div>
                    <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
                </div>
            </div>
        </div>
        <!--End Main Content Area here-->
      

        <div id="footerInnerSeparator"></div>
    </div>

</div>

@section Footer {

}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
$(function () {
    var page = 0;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $.ajax({
                type: 'GET',
                url: '/Home/Menu/' + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                }
            });
        }
    }
    // обработка события скроллинга
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
         
            loadItems();
        }
    });
})
    </script>

}

